---
import { getCollection } from 'astro:content'
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths() {
  const postsPages = await getCollection('posts',({ id }) => {
  return id.startsWith('ar/');})

  const paths = postsPages.map(postPage => {
    const [lang, slug] = postPage.slug.split('/');
    return { params: { lang, slug: slug || undefined }, props: postPage }
  })

  return paths;
}

const { lang, slug } = Astro.params;
const postPage = Astro.props;
// const formattedDate = postPage.data.date.toLocaleString(lang);

const { Content } = await postPage.render();
---

<Layout title={postPage.data.title} >
<h1>{postPage.data.title}</h1>
<!-- <p>by {page.data.author} • {formattedDate}</p> -->
<Content/>
</Layout>