---
import { getCollection, getEntry } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
const { post } = Astro.props;
const { Content } = await post.render();
 
export async function  getStaticPaths(){
   
 const posts= await getCollection('posts');
    return posts.map(post =>({
        params:{
            slug: post.slug
        },
        props:{
            post
        }
    }));
} 

//const {Content , data}= Astro.props.post;
---
<Layout title={post.data.title} >

    <Content/>
    <!-- {post.slug.prev ? <a href={post.slug.prev}>Previous</a> : null}
    {post.slug.next ? <a href={post.slug.next}>Next</a> : null} -->
</Layout>