---
import { getCollection, getEntry } from 'astro:content';

import Layout from '../layouts/Layout.astro';
const { project } = Astro.props;
const { Content } = await project.render();
 
export async function  getStaticPaths(){
   
 const projects= await getCollection('projects');
    return projects.map(project =>({
        params:{
            slug: project.slug
        },
        props:{
            project
        }
    }));
} 

//const {Content , data}= Astro.props.project;
---
<Layout title={project.data.title} >

    <Content/>
    <!-- {project.slug.prev ? <a href={project.slug.prev}>Previous</a> : null}
    {project.slug.next ? <a href={project.slug.next}>Next</a> : null} -->
</Layout>