---


import Layout from '../layouts/Layout.astro';
import Bio from '../components/bio.astro';
import HandShake from '../components/handShake.astro';
import SocailLinks from '../components/socailLinks.astro';
import Portfolio from '../components/portfolio.astro';
import Skills from '../components/skills.astro';


---
<Layout title="Salwa Coding">
	<div class="header-info">
		<Bio/>
		<HandShake/>
	</div>
	<section class="side-contact">
		<a href="#contact-me" class="contact-link">hire me (◕‿◕);</a><!-- (✯◡✯); -->
	<SocailLinks/>
	</section>
	<Portfolio/>
	<Skills/>
</Layout>