---

import Layout from '../layouts/Layout.astro';
---
<Layout title="Thank You!" hasHeader={false} hasForm={false} >
<main id="primary" class="site-main">
    <section class="text-section info-page">
        <header class="page-header">
            <h1>(＠＾▽＾＠); </h1>
            <h1 class="page-title">Thank You! for getting in touch.</h1>
        </header><!-- .page-header -->

        <div class="page-content">


            <!-- <p></p> -->
            <p>Salwa will hang up with you soon. lets&#039; go back </p>
            <h1>
                <a href="/" class="link-to-home">Home <span>(</span>
                    <span class="rotate-infinite ">*</span>
                    <span>^ ^</span>
                    <span class="rotate-infinite ">*</span>
                    <span>);</span>
                </a>
            </h1>

        </div><!-- .page-content -->
   </section>
</main><!-- #main -->
</Layout>
