
    <section class="site-branding">
        <div id="name-conainer">
            <h1 class="dev-name">
        
                <span class="rotate-letter">W</span>
                <span class="rotate-letter">e</span>
                <span class="rotate-letter">l</span>
                <span class="rotate-letter">l</span>
                <span class="rotate-letter">c</span>
                <span class="rotate-letter">o</span>
                <span class="rotate-letter">m</span>,
                <span class="rotate-letter">I&#039;</span>
                <span class="rotate-letter">m</span>
                <span class="rotate-letter">S</span>
                <span class="rotate-letter">a</span>
                <span class="rotate-letter">l</span>
                <span class="rotate-letter">w</span>
                <span class="rotate-letter">a</span>
                <span>(＾▽＾);</span>
            </h1>


               
            <!-- <object type="image/svg+xml" id="frame-smile" data="./images/s10.svg"></object> -->

        </div>


        <p class="site-description">
            A front end and WordPress developer based in Yemen. As a creative problem solver,
             I will help you convert your idea into a live website representing your brand in 
             the internet world.
            I love working with animation and creative ideas and my workflow is focused on 
            performance and responsive design.</p>
    </section><!-- .site-branding -->

   


